@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

.app{
  background-color: #9DEBEF;
  font-family: 'Roboto', sans-serif;
}

.logo{
  font-family: 'Miriam Libre', sans-serif;
  margin-left: 20%;
}


.row{
  margin-top: 3%;
  width: 100%;
/* justify-content: center; */
}

.heroText{
  margin-left: 2%;
  padding-top: 4%;
}

.companiesText{
  text-align: center;
  margin-top: 2%;
}

.card-img-top{
  height: 15rem;
}

.CTA{
display: inline-flex;
/* margin-left: 1%; */
}

/* .betweenCTA{
  margin: ;
} */
.highlightsContainer{
  padding: 0 5% 0 15%;
  background-color: white;
}
.startTrial{
  text-decoration: underline;
  /* text-decoration: solid; */
}

.callToAction{
  margin: 4% 0;
  text-align: center;
  padding: 1% 30%;
}
.mb-3{
  margin-top: 4%;
}
.highlightsHero{
  margin-top: 2%;
  text-align: center;
}

.footerCol{
  /* display: flex;
  justify-content: center; */
  text-align: center;
}