@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

.app{
  background-color: #9DEBEF;
  font-family: 'Roboto', sans-serif;
}

.heroContainer{
  margin: 5% 0;
}
.nav-item{
  margin-right: 1.6rem;
}
.logo{
  font-family: 'Miriam Libre', sans-serif;
  margin-left: 5%;
}


.row{
  margin-top: 3%;
  width: 100%;
/* justify-content: center; */
}

.heroText{
  margin-left: 5%;
  padding-top: 4%;
}

.companiesText{
  text-align: center;
  margin-top: 2%;
}

.card-img-top{
  height: 15rem;
}

.CTA{
display: inline-flex;
/* margin-left: 1%; */
}

/* .betweenCTA{
  margin: ;
} */
.highlightsContainer{
  padding: 5% 4% 5% 7%;
  background-color: white;
}

.card-title{
  margin-top: 10%;
}

.callToAction{
  margin: 6% 0;
  text-align: center;
  padding: 1% 30%;
}
.testimonialsContainer{
  margin: 5% 0;
}
.mb-3{
  margin-top: 4%;
}
.highlightsHero{
  margin-top: 4% 0;
  text-align: start;
}
.hihglightSubHero{
  margin-top: 1%;
}
.footerCol{
  text-align: center;
}

.footerLinks{
  padding: 4% 0;
}